/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #0e1225; /* Dark background color */
  color: white;
}

/* Header banner styles */
.banner {
  background-image: url('../assets/images/banner-background.png'); /* Replace with your background image */
  background-size: cover;
  padding: 50px 0;
  text-align: center;
}

.banner-content {
  max-width: 800px;
  margin: 0 auto;
}

.banner h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.banner p {
  font-size: 18px;
  margin-bottom: 30px;
}

.banner button {
  background-color: #0080ff;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.banner button:hover {
  background-color: #063c72;
}


#course-content {
  padding: 60px 20px;
  text-align: center;
}

#course-content h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

#course-content p {
  font-size: 16px;
  max-width: 700px;
  margin: 0 auto 40px;
}

.modules-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.module {
  background-color: #4f515e;
  padding: 20px;
  border-radius: 8px;
  max-width: 200px;
}

.module span {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}


#transform-world {
  background-image: url('../assets/images/transform-world.png'); 
  padding: 80px 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}


#professional-challenges {
  padding: 60px 20px;
  text-align: center;
}

#professional-challenges h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

#professional-challenges img {
  margin: 40px 0;
  max-width: 100%;
  height: auto;
}

#professional-challenges p {
  font-size: 16px;
  max-width: 700px;
  margin: 0 auto;
}


footer {
  background-color: #10142a;
  padding: 40px 0;
  text-align: center;
}

.dio-logo {
  max-width: 150px;
  margin-bottom: 20px;
}

footer p {
  font-size: 16px;
}

footer a {
  color: #0080ff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
